/* Google Font: "Lora" */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

html {
    scroll-behavior: smooth;
}

/* Consistency across different browsers */
* {
    margin: 0;
}

body {
    font-family: "Lora", serif;
}

/* Navigations */
nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.66);
    height: fit-content;
    transition: all 0.2s ease-in-out;
    z-index: 100;
}

nav:hover {
    background-color: #000;
}

nav ul {
    padding: 0.5rem;
}

nav ul li {
    display: inline;
    margin: auto 3%;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    font-size: larger;
    color: turquoise;
}

/* Landing Page */
header {
    background-image: url("../images/beach.jpg");
    background-size: cover;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}

#logo {
    color: #fff;
    text-align: center;
    margin: 6% auto;
    border: 1px solid black;
}

#logo h1 em {
    color: yellow;
}

.background-flag {
    margin: 0 auto;
    border-radius: 1rem;
    padding: 1rem;
    /* Adjust width/height to contain flag excatly behind #headline  */
    width: 50%;
    /* Pure CSS flag credit: https://codepen.io/thebabydino/details/zvKxeL */
    background:
        linear-gradient(to right bottom,
            #18922f 38%, #b59710 0, #b59710 42%, #000 0,
            #000 58%, #6b5909 0, #b59710 62%, #006185 0);
}

#cta {
    background-color: blue;
    padding: 0.5rem;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 30%;
}

#cta a {
    text-decoration: none;
    color: white;
}

#cta a:hover {
    font-size: larger;
}

/* About */

/* About Section/Table of Contents
#about_1 ol,
#about_2 {
    display: flex;
    justify-content: space-evenly;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 6px;
}

#about_1 span {
    font-style: italic;
    position: absolute;
    width: 65%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 35.5%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    font-size: x-large;
}

#about_2 span {
    text-decoration: underline;
    font-style: italic;
}

#about_1 ol div li,
#about_2 ol div li {
    padding: 5px;
}

#about_1 ol div ul,
#about_2 ol div ul {
    padding: 5px;
}

#about_1 ol div ul li,
#about_2 ol div ul li {
    padding: 5px;
} */

/* Main Content */

main {
    margin: auto 3%;
}

figure {
    position: relative;
    text-align: center;
}

.text-inside {
    position: absolute;
    bottom: 5%;
    background-color: rgba(255, 255, 255, 0.75);
    width: 100%;
    padding: 0.5rem 0;
}

#blog h2 {
    text-align: center;
    padding: 1rem;
}

#blog p {
    text-align: justify;
}

#blog img {
    width: 100%;
}

#blog iframe {
    width: 100%;
    width: 600;
    height: 450;
    border: 0;
}

#blog video {
    height: 50vh;
}

#currency-table,
td,
th {
    border: 1px solid #000;
    margin: 1rem auto;
    padding: 1rem;
}

#currency-table caption {
    border-top: 1px solid black;
    padding: 1rem;
}

/* Contact Section */
#contact {
    text-align: center;
}

#contact-form {
    display: grid;
    justify-content: center;
}


/* Media Queries */

/* @media queries for tablets */
@media (min-width: 768px) {
    #logo {
        font-size: 2em;
        padding: 1em;
    }

    main {
        margin: auto 30%;
    }

    #cta {
        margin-top: 0%;
    }
}

/* @media queries beyond tablets */
@media (min-width: 1024px) {
    #logo {
        font-size: 2.5em;
        padding: 1em;
    }

    nav {
        top: 0;
        font-size: 1.5em;
    }
}

/* @media (max-width: 1115px) {

Toggle Funtionality

    #about_1 ol {
        display: none;
    }

    #about_1 span {
        display: none;
    }
}

@media (min-width: 705px) {
    #headline {
        font-size: 2rem;
    }

    #background-flag {
        width: 704px;
        height: 161px;
    }

    #caption {
        font-size: x-large;
    }

    #about_2 {
        display: block;
    }

    #about_2 ol {
        display: flex;
        justify-content: space-evenly;
        width: 65%;
        gap: 2rem;
    }
}

@media (min-width: 1116px) {

    #headline {
        font-size: 3rem;
    }

    #background-flag {
        width: 1041px;
        height: 226px;
    }

    #caption {
        bottom: 65%;
        font-size: 2rem;
    }

    #about_1 ol {
        position: absolute;
        top: 75%;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 65%;
        background-color: rgba(0, 0, 0, 0.75);
        border-radius: 1rem;
        padding: 1rem;
        font-size: 1rem;
    }

    #about_1 span {
        top: -22.5%;
    }

    #about_2 {
        display: none !important;
    }

    #about_2 span {
        display: none;
    }

    nav {
        top: 0%;
        font-size: x-large;
        height: 41px;
    }

    nav ul li a:hover {
        font-size: x-large;
    }
}

@media (max-width: 1000px) {
    #scroll-hint {
        display: none;
    }
} */