/* Consistency across different browsers */
* {
    margin: 0;
    padding: 0;
    /* this is required to align nav items to center ! */
}

/* Landing Page */
header {
    background-image: url("../images/beach.jpg");
    background-size: contain;
    height: 75vw;
    position: relative;
    text-align: center;

}

#headline {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2%;
    margin: 0 auto;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.4);
    width: fit-content;
    padding: 1rem;
    border-radius: 1rem;
    z-index: 1;
    /* Adjust respectfully of screen size */
    font-size: x-small;
}

.flag {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2%;
    margin: 0 auto;
    border-radius: 1rem;
    /* Adjust to position flag excatly behind #headline  */
    /* width: 77.32vmin;
    height: 21.5vmin; */
    width: 246.7px;
    height: 68.9px;
    /* Credit: https://codepen.io/thebabydino/details/zvKxeL */
    background:
        linear-gradient(to right bottom,
            #1eb53a 38%, #fcd116 0, #fcd116 42%, #000 0,
            #000 58%, #fcd116 0, #fcd116 62%, #00a3dd 0);
}

#headline em.orange {
    color: orange;
}

#headline em.greenyellow {
    color: #adff2f;
}

/* Media Queries to adjust #headline */
/* @media (min-width: 400px) {
    #headline {
        font-size: small;
    }

    .flag {
        width: 78vmin;
        height: 20.23vmin;
    }
} */

/* Navigations */
nav {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.66);
    height: 32px;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

nav:hover {
    background-color: #000;
}

nav ul {
    padding: 5px;
}

nav ul li {
    display: inline;
    margin: auto 3%;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    font-size: large;
    text-decoration: underline;
    color: turquoise;
}


/* Blog */
#blog {
    margin: 5%;
}

#blog section,
#blog table,
#blog figure {
    padding: 5% 0;
}

#blog p {
    text-align: justify;
}

#blog figcaption,
#blog h2 {
    text-align: center;

}

#blog img {
    width: 100%;
}

#blog iframe {
    width: 100%;
    width: 600;
    height: 450;
    border: 0;
}

#blog figure {
    text-align: center;
}

#blog video {
    height: 50vh;
}

#blog table,
td {
    border: 1px solid #000;
}

/* Contact Section */
#contact {
    text-align: center;
}

#contact-form {
    display: grid;
    justify-content: center;
}